@import url("https://fonts.googleapis.com/css2?family=Average+Sans&family=Rufina:wght@400;700&display=swap");
:root {
  --gray: #E0E0E0;
  --dark-gray: #AAAAAA;
  --white: #F8F8F8;
  --black: #333333;
  --transition-short: .5s;
  --transition-long: 1s;
  --border-bold: 1px solid var(--black);
  --border-thin: .5px solid var(--black);
}

*, ::before, ::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Average Sans", sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Rufina", sans-serif;
  font-weight: 400;
}

u {
  text-underline-offset: 0.2rem;
}

body {
  background-color: var(--white);
  overflow-x: hidden;
  max-width: 2560px;
  margin: auto;
  display: flex;
  flex-direction: column;
}

.main__nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  background-color: var(--white);
  transition: var(--transition-short);
  border-top: var(--border-thin);
  border-bottom: var(--border-bold);
  border-right: var(--border-bold);
  border-left: var(--border-bold);
  transition: var(--transition-short);
}
.main__nav.hidden {
  transform: translateY(-100%);
}
.main__nav .main__nav--action {
  flex: 1;
  display: grid;
  place-items: center;
  padding: 2.5rem 0;
  cursor: pointer;
  font-size: 1.2rem;
  position: relative;
  transition: var(--transition-short);
  color: var(--black);
  text-decoration: none;
  letter-spacing: 1px;
}
.main__nav .main__nav--action.logo {
  position: absolute;
}
.main__nav .main__nav--action > div {
  z-index: 1;
}
.main__nav .main__nav--action > div::before {
  content: "";
  width: 0;
  position: absolute;
  inset: 0;
  background-color: var(--black);
  z-index: -1;
  transition: var(--transition-short);
}
.main__nav .main__nav--action:hover:not(:nth-child(3)) {
  color: var(--white);
}
.main__nav .main__nav--action:hover:not(:nth-child(3)) > div::before {
  width: 100%;
}
.main__nav :nth-child(3) {
  padding: 0;
  margin: 0 1rem;
  border-left: var(--border-bold);
  border-right: var(--border-bold);
}

.about {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: var(--border-bold);
  padding: 4rem;
  gap: 8rem;
  min-height: 90vh;
  margin-top: 100px;
}
.about aside {
  flex: 1;
  margin-bottom: 4rem;
  display: flex;
  flex-direction: column;
  gap: 4rem;
}
.about aside h1 {
  font-size: 3rem;
}
.about aside p {
  font-size: 1.2rem;
  line-height: 1.5;
  letter-spacing: 1px;
  word-spacing: 4px;
}
.about .image {
  flex: 2;
  display: grid;
  grid-template-areas: "img1 img1 img2 img2 img3" "img4 img4 img2 img2 img3" "img4 img4 logo img6 img6" "img7 img5 img5 img6 img6";
  height: 60%;
  gap: 1rem;
  aspect-ratio: 1/0.75;
  grid-template-columns: repeat(5, 1fr);
  max-width: 50%;
}
.about .image > * {
  border: var(--border-bold);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.about .image .logo {
  grid-area: logo;
  background-image: url(../images/logoblack.svg);
  background-size: contain;
  border: none;
}
.about .image .img1 {
  grid-area: img1;
  background-image: url(../images/about/image1.png);
}
.about .image .img2 {
  grid-area: img2;
  background-image: url(../images/about/image2.png);
}
.about .image .img3 {
  grid-area: img3;
  background-image: url(../images/about/image3.png);
}
.about .image .img4 {
  grid-area: img4;
  background-image: url(../images/about/image4.png);
}
.about .image .img5 {
  grid-area: img5;
  background-image: url(../images/about/image5.png);
}
.about .image .img6 {
  grid-area: img6;
  background-image: url(../images/about/image6.png);
}
.about .image .img7 {
  grid-area: img7;
  background-image: url(../images/about/image7.png);
}

.products .message {
  border: var(--border-bold);
  border-top: none;
  height: 24rem;
  padding: 4rem;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  position: relative;
}
.products .message > span {
  font-size: 3rem;
  border-left: var(--border-bold);
  padding: 0 2rem;
  position: absolute;
}
.products .message .self {
  position: absolute;
  right: 4rem;
  top: 4rem;
}
.products .message__end {
  border: var(--border-bold);
  height: 16rem;
  padding: 5rem 6rem;
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  transition: var(--transition-short);
}
.products .message__end > span {
  font-size: 2rem;
  border-left: var(--border-bold);
  padding: 0 2rem;
  text-underline-offset: 4px;
  cursor: pointer;
  position: relative;
}
.products .product__items {
  width: 80%;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  border-right: var(--border-thin);
  border-left: var(--border-thin);
}
.products .product__items :empty {
  transition: var(--transition-short);
}
.products .product__items :empty:hover {
  background-color: var(--gray);
}
.products .product__items > div {
  aspect-ratio: 1/1;
  border-left: var(--border-thin);
  border-right: var(--border-thin);
  border-bottom: var(--border-bold);
  position: relative;
  display: flex;
  flex-direction: column;
}
.products .product__items > div:nth-child(10) {
  border-bottom: none;
}
.products .product__items > div:nth-child(11) {
  border-bottom: none;
}
.products .product__items > div:nth-child(12) {
  border-bottom: none;
}
.products .product__items > div .img {
  flex: 3;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.products .product__items > div .img:hover .buttons {
  width: 100%;
}
.products .product__items > div .img .buttons {
  transition: var(--transition-short);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  height: 100%;
  width: 0%;
  background-color: rgba(0, 0, 0, 0.25);
}
.products .product__items > div .img .buttons:hover > * {
  transform: scale(1);
}
.products .product__items > div .img .buttons > * {
  transform: scale(0);
  transition: var(--transition-short);
  cursor: pointer;
}
.products .product__items > div .img .buttons > * > * {
  fill: var(--white);
}
.products .product__items > div .desc {
  flex: 1;
  border-top: var(--border-bold);
  display: flex;
  align-items: center;
  justify-content: start;
  padding: 0 0 0 2rem;
  gap: 1rem;
}
.products .product__items > div .desc:hover {
  transition: var(--transition-short);
}
.products .product__items > div .desc:hover .text {
  transform: translateX(0.5rem);
}
.products .product__items > div .desc:hover .dot {
  outline: 1px solid var(--white);
}
.products .product__items > div .desc .dot {
  transition: var(--transition-short);
  width: 1rem;
  aspect-ratio: 1/1;
}
.products .product__items > div .desc .text {
  transition: var(--transition-short);
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}
.products .product__items > div .desc .text .title {
  font-size: 1.4rem;
  line-height: 1;
}
.products .product__items > div .desc .text .price {
  font-size: 1rem;
  color: var(--dark-gray);
}
.products .product__items .card:nth-child(1) .img {
  background-image: url("../images/products/Cecile_Relaxed_Sweater-Blazer.png");
}
.products .product__items .card:nth-child(1) .dot {
  background-color: #FDE5C6;
}
.products .product__items .card:nth-child(2) .img {
  background-image: url("../images/products/Cotton_T-Shirt.png");
}
.products .product__items .card:nth-child(2) .dot {
  background-color: #EFECDD;
}
.products .product__items .card:nth-child(5) .img {
  background-image: url("../images/products/Cashmere_Essential_V-Neck_Sweater.png");
}
.products .product__items .card:nth-child(5) .dot {
  background-color: #B68162;
}
.products .product__items .card:nth-child(6) .img {
  background-image: url("../images/products/Waffle_One_Sneaker.png");
}
.products .product__items .card:nth-child(6) .dot {
  background-color: #cda069;
}
.products .product__items .card:nth-child(7) .img {
  background-image: url("../images/products/Aviator_Small_Metal_Sunglasses.png");
}
.products .product__items .card:nth-child(7) .dot {
  background-color: #f1d090;
}
.products .product__items .card:nth-child(8) .img {
  background-image: url("../images/products/Honey_Curvy_Bootcut_Jeans.png");
}
.products .product__items .card:nth-child(8) .dot {
  background-color: #1f2022;
}
.products .product__items .card:nth-child(11) .img {
  background-image: url("../images/products/Mason_Pant.png");
}
.products .product__items .card:nth-child(11) .dot {
  background-color: #5e4d39;
}
.products .product__items .card:nth-child(12) .img {
  background-image: url("../images/products/Trixie_Black_Leather.png");
}
.products .product__items .card:nth-child(12) .dot {
  background-color: #1c1c1c;
}

.categories {
  padding: 4rem;
}
.categories h1 {
  font-size: 4rem;
}
.categories .category__container {
  display: flex;
  gap: 4rem;
  height: 50vmax;
}
.categories .category__container > * {
  flex: 1;
  border: var(--border-bold);
  aspect-ratio: 1/1.25;
  transition: var(--transition-short);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.categories .category__container :nth-child(1) {
  align-self: flex-end;
  background-image: url(../images/categories/image_kids.png);
}
.categories .category__container :nth-child(2) {
  align-self: center;
  background-image: url(../images/categories/image_female.png);
}
.categories .category__container :nth-child(3) {
  align-self: flex-start;
  background-image: url(../images/categories/image_male.png);
}
.categories .h2 {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  font-size: 2rem;
}

.services {
  padding: 4rem;
  border: var(--border-bold);
  border-bottom: none;
  margin-top: 4rem;
}
.services h1 {
  font-size: 3rem;
  text-align: center;
}
.services .content {
  display: grid;
  grid-template-areas: "img1 title" "img1 img2" "img1 img2" "img1 img2" "img3 img2" "img3 img4" "img3 img4" "img3 img4" "desc img4";
  gap: 4rem;
  margin-top: 2rem;
  padding: 4rem 0;
  grid-auto-rows: 10vw;
  grid-template-columns: 1fr 1fr;
}
.services .content > * {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.services .content .content__title {
  grid-area: title;
  display: flex;
  align-items: flex-end;
}
.services .content .content__title span {
  border-left: var(--border-bold);
  padding: 0 2rem;
  font-size: 1.5rem;
}
.services .content .content__desc {
  grid-area: desc;
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
}
.services .content .content__desc span {
  border-right: var(--border-bold);
  padding: 0 2rem;
  font-size: 1.5rem;
  text-align: end;
}
.services .content .img--1 {
  grid-area: img1;
  border: var(--border-bold);
  background-image: url(../images/services/image1.png);
}
.services .content .img--2 {
  grid-area: img2;
  border: var(--border-bold);
  background-image: url(../images/services/image3.png);
}
.services .content .img--3 {
  grid-area: img3;
  border: var(--border-bold);
  background-image: url(../images/services/image4.png);
}
.services .content .img--4 {
  grid-area: img4;
  border: var(--border-bold);
  background-image: url(../images/services/image2.png);
}
.services .message {
  text-align: center;
  padding: 2rem 0;
  font-size: 2rem;
}
.services .message .email {
  padding: 1rem 2rem;
  border: var(--border-bold);
  display: flex;
  align-items: center;
  gap: 1rem;
  font-size: 1.25rem;
  margin: 2rem auto;
  transition: var(--transition-short);
  cursor: pointer;
  background-color: var(--white);
}
.services .message .email > * {
  transition: var(--transition-short);
}
.services .message .email:hover {
  background-color: var(--gray);
}
.services .message .email:hover :first-child {
  transform: scale(1.025);
}
.services .message .email:hover :last-child {
  transform: translateX(2px);
}
.services .message .email:active {
  background-color: var(--white);
}
.services .message .email:active * {
  transform: none;
}

footer {
  border-left: var(--border-bold);
  border-right: var(--border-bold);
  border-bottom: var(--border-bold);
  background-color: var(--black);
  color: var(--white);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4rem;
  padding: 2.5rem 4rem;
}
footer .social {
  display: flex;
  justify-content: center;
  gap: 2rem;
  padding: 1rem 0;
}
footer .social > * {
  cursor: pointer;
}
footer span {
  padding: 1rem 0;
  width: 2px;
  background-color: var(--white);
  align-self: stretch;
}

@media (max-width: 1300px) {
  .about {
    padding: 4rem 3rem;
    gap: 3rem;
    min-height: 85vh;
  }
  .about aside {
    gap: 2rem;
  }
  .about aside h1 {
    font-size: 2rem;
  }
  .about aside p {
    font-size: 0.9rem;
  }
  .about .image {
    max-width: 60%;
    height: 60%;
  }
  .products .message {
    height: 16rem;
  }
  .products .message span {
    font-size: 2rem;
  }
  .products .message__end {
    height: 16rem;
  }
  .products .message__end span {
    font-size: 1.5rem;
  }
  .products .product__items {
    width: 90%;
  }
  .products .product__items .card .desc .text .title {
    font-size: 1rem;
  }
  .products .product__items .card .desc .text .price {
    font-size: 0.8rem;
  }
  .categories {
    padding: 4rem 3rem;
  }
  .categories h1 {
    font-size: 2.5rem;
  }
  .categories h2 {
    font-size: 1.75rem;
  }
  .categories .category__container {
    gap: 2rem;
  }
  .services {
    padding: 4rem 3rem;
  }
  .services h1 {
    font-size: 2.5rem;
  }
  .services .content {
    gap: 2rem;
  }
  .services .content .content__title span {
    font-size: 1.2rem;
  }
  .services .content .content__desc span {
    font-size: 1.2rem;
  }
  .services .message h2 {
    font-size: 2.5rem;
  }
  .services .message .email p {
    font-size: 1rem;
  }
}
@media (max-width: 768px) {
  .main__nav {
    -ms-writing-mode: tb-lr;
        writing-mode: vertical-lr;
    flex-direction: column;
  }
  .main__nav .main__nav--action {
    padding: 1.5rem 0;
  }
  .main__nav .main__nav--action:hover:not(:nth-child(3)) {
    color: var(--black);
  }
  .main__nav .main__nav--action:hover:not(:nth-child(3)) > div::before {
    width: 0;
  }
  .main__nav :nth-child(3) {
    flex: 2;
  }
  .about {
    padding: 2rem;
    flex-direction: column-reverse;
    gap: 4rem;
  }
  .about aside {
    width: 75%;
    align-items: center;
  }
  .about aside h1, .about aside p {
    text-align: center;
  }
  .about .image {
    width: 100%;
    max-width: 200%;
    padding-top: 3rem;
    gap: 0.5rem;
  }
  .products .message {
    align-items: flex-start;
    flex-direction: column;
  }
  .products .message span {
    position: static;
    font-size: 1.75rem;
  }
  .products .message .self {
    position: static;
  }
  .products .message__end {
    height: 12rem;
  }
  .products .product__items {
    width: 100%;
  }
  .products .product__items .card .buttons {
    gap: 1rem;
  }
  .products .product__items .card .buttons:hover > * {
    transform: scale(0.8);
  }
  .products .product__items .card .desc {
    flex: 1.5;
  }
  .products .product__items .card .desc .text .title {
    font-size: 1rem;
  }
  .products .product__items .card .desc .text .price {
    font-size: 0.8rem;
  }
  .categories {
    padding: 2rem;
  }
  .categories .category__container {
    flex-direction: column;
    gap: 1rem;
    height: 120vmax;
    margin: 2rem 0;
  }
  .categories .category__container > * {
    width: 60%;
  }
  .services {
    padding: 2rem;
  }
  .services .content {
    gap: 2rem;
    padding: 2rem 0;
  }
  .services .content .content__title span {
    font-size: 0.9rem;
  }
  .services .content .content__desc span {
    font-size: 0.9rem;
  }
}
@media (max-width: 500px) {
  .about {
    padding: 1rem;
  }
  .about aside {
    width: 90%;
    align-items: center;
  }
  .products .message {
    align-items: flex-start;
    flex-direction: column;
  }
  .products .message span {
    position: static;
    font-size: 1.75rem;
  }
  .products .message .self {
    position: static;
  }
  .products .message__end {
    height: 12rem;
  }
  .products .product__items {
    width: 100%;
    grid-template-columns: 1fr 1fr;
  }
  .products .product__items > :empty {
    display: none;
  }
  .products .product__items .card {
    aspect-ratio: 1/1.25;
  }
  .products .product__items .card .desc {
    flex: 1.5;
    padding-left: 0.5rem;
  }
  .products .product__items .card .desc .text .title {
    font-size: 1rem;
  }
  .products .product__items .card .desc .text .price {
    font-size: 0.8rem;
  }
  .categories {
    padding: 1rem;
  }
  .categories h1 {
    font-size: 2rem;
  }
  .categories h2 {
    font-size: 1.75rem;
  }
  .categories .category__container {
    flex-direction: column;
    gap: 1rem;
    height: 120vmax;
    margin: 2rem 0;
  }
  .categories .category__container > * {
    width: 60%;
  }
  .services {
    margin-top: 1rem;
    padding: 1rem;
  }
  .services h1 {
    font-size: 2rem;
  }
  .services .content {
    gap: 2rem;
    padding: 1rem 0;
  }
  .services .content .content__title span {
    font-size: 0.75rem;
  }
  .services .content .content__desc span {
    font-size: 0.75rem;
  }
  .services .message h2 {
    font-size: 2rem;
  }
  footer .social {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  footer .copyright p {
    font-size: 0.8rem;
  }
}
.modal__warn {
  position: fixed;
  inset: 0;
  z-index: 10000;
  background-color: rgba(0, 0, 0, 0.25);
}
.modal__warn .content {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 100000;
  border: var(--border-bold);
  padding: 4rem;
  background-color: var(--white);
  font-size: 1.2rem;
}
.modal__warn .content button {
  padding: 0.5rem 1rem;
  font-size: 1.1rem;
  cursor: pointer;
  margin-top: 1.5rem;
}
.modal__warn .content .cancel__btn {
  position: absolute;
  top: 0.75rem;
  right: 1rem;
  font-size: 1.5rem;
  cursor: pointer;
}

.modal__login {
  position: fixed;
  inset: 0;
  z-index: 10000;
  background-color: rgba(0, 0, 0, 0.25);
}
.modal__login .content {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 100000;
  border: var(--border-bold);
  padding: 2rem;
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}
.modal__login .content .switch__btn {
  display: flex;
  border: var(--border-thin);
  width: 75%;
}
.modal__login .content .switch__btn :empty {
  width: 1px;
  background-color: var(--black);
}
.modal__login .content .switch__btn *:not(:empty) {
  all: unset;
  padding: 0.5rem 1rem;
  flex: 1;
  transition: var(--transition-short);
  cursor: pointer;
  text-align: center;
}
.modal__login .content .switch__btn .selected__btn {
  background-color: var(--gray);
  flex: 2;
}
.modal__login .content .form__container {
  width: 50vh;
}
.modal__login .content .form__container .login__form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}
.modal__login .content .form__container .login__form .with__name {
  display: flex;
  flex-direction: column;
  width: 50%;
}
.modal__login .content .form__container .login__form .with__name label {
  margin-bottom: 0.25rem;
}
.modal__login .content .form__container .login__form .with__name input {
  margin-bottom: 0.75rem;
  padding: 0.25rem;
}
.modal__login .content .form__container .login__form .with__name button {
  width: 50%;
  margin: auto;
  padding: 0.5rem 1rem;
  cursor: pointer;
}
.modal__login .content .form__container .login__form .with__social {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}
.modal__login .content .form__container .login__form .with__social .social__login {
  display: flex;
  gap: 1rem;
}
.modal__login .content .form__container .login__form .with__social .social__login > * {
  padding: 0.9rem 1rem;
  background-color: var(--black);
  border-radius: 50%;
  cursor: pointer;
}
.modal__login .content .form__container .signup__form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}
.modal__login .content .form__container .signup__form .with__name {
  display: flex;
  flex-direction: column;
  width: 50%;
}
.modal__login .content .form__container .signup__form .with__name label {
  margin-bottom: 0.25rem;
}
.modal__login .content .form__container .signup__form .with__name input {
  margin-bottom: 0.75rem;
  padding: 0.25rem;
}
.modal__login .content .form__container .signup__form .with__name button {
  width: 50%;
  margin: auto;
  padding: 0.5rem 1rem;
  cursor: pointer;
}
.modal__login .content .form__container .signup__form .with__social {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}
.modal__login .content .form__container .signup__form .with__social .social__login {
  display: flex;
  gap: 1rem;
}
.modal__login .content .form__container .signup__form .with__social .social__login > * {
  padding: 0.9rem 1rem;
  background-color: var(--black);
  border-radius: 50%;
  cursor: pointer;
}
.modal__login .content .form__container .hidden__form {
  display: none;
}
.modal__login .content .cancel__btn {
  position: absolute;
  top: 0.75rem;
  right: 1rem;
  font-size: 1.5rem;
  cursor: pointer;
}

.modal__message {
  position: fixed;
  inset: 0;
  z-index: 10000;
  background-color: rgba(0, 0, 0, 0.25);
}
.modal__message .content {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 100000;
  border: var(--border-bold);
  padding: 4rem;
  background-color: var(--white);
  font-size: 1.2rem;
}
.modal__message .content h1 {
  margin-bottom: 2rem;
}
.modal__message .content form {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  width: 30vw;
}
.modal__message .content form input {
  margin-bottom: 0.75rem;
  padding: 0.25rem;
}
.modal__message .content form button {
  padding: 0.5rem 1rem;
}
.modal__message .content .cancel__btn {
  position: absolute;
  top: 0.75rem;
  right: 1rem;
  font-size: 1.5rem;
  cursor: pointer;
}

.modal__hidden {
  display: none;
}